---

layout: default

instructor: "Danny Krashen"
office: "Boyd 437"
office-hour: "TBA, Boyd 437"
sections:
  -  
    number: "43142"
    meetings:
      - 
        title: "Lecture"
        days: "TuTh"
        time: "12:30pm - 1:45pm"
        room: "300A"
        building: "Geography and Geology"
        maplink: "https://www.google.com/maps/place/Geology+Department/@33.9483539,-83.3785668,17z/data=!4m8!1m2!2m1!1suga+geography+geology+building!3m4!1s0x88f66ce4217778af:0x7d6af78e91e189d3!8m2!3d33.9487026!4d-83.3754342"
      - 
        title: "Recitation"
        days: "Mon"
        time: "12:20pm - 1:10pm"
        room: "418"
        building: "Forestry Resources, Building 4"
        maplink: "https://www.google.com/maps/place/Forestry+Resources+Building+4,+Athens,+GA+30602/@33.9436464,-83.3750391,19z/data=!3m1!4b1!4m12!1m6!3m5!1s0x88f66ce370560823:0xee8db1fdef575eca!2sDaniel+B.+Warnell+School+of+Forestry+and+Natural+Resources!8m2!3d33.943993!4d-83.37441!3m4!1s0x88f66ce36efba7e7:0xa28f9b54c998ece6!8m2!3d33.9436332!4d-83.3744845"
  -  
    number: "43008"
    meetings:
    - 
      title: "Lecture"
      days: "TuTh"
      time: "2:00pm - 3:15pm"
      room: "300A"
      building: "Geography and Geology"
      maplink: "https://www.google.com/maps/place/Geology+Department/@33.9483539,-83.3785668,17z/data=!4m8!1m2!2m1!1suga+geography+geology+building!3m4!1s0x88f66ce4217778af:0x7d6af78e91e189d3!8m2!3d33.9487026!4d-83.3754342"
    - 
      title: "Recitation"
      days: "Mon"
      time: "1:25pm - 2:15pm"
      room: "112"
      building: "Aderhold"
      maplink: "https://www.google.com/maps/place/Aderhold+Hall,+Athens,+GA+30602/@33.9416132,-83.3743279,18z/data=!3m1!5s0x88f66ce4b29882c3:0x8735d0027c65e825!4m8!1m2!2m1!1suga+college+of+education!3m4!1s0x88f66ce4ad68f8b3:0x1f8cc87b4daeef3a!8m2!3d33.9416937!4d-83.3728795"

---

<div class="row well">

<div class="col-md-6"> <!-- left -->
<div class="row well"> <!-- inner row well 1 (left) -->
  <h3> <center>What's New </center></h3>
</div>
  <ul class="posts list-unstyled">
    {% for post in site.posts limit:5 %}
<div class="row well"> <!-- inner row well 1 (left) -->
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" 
          href="{{ post.url | prepend: site.baseurl }}"
          >{{ post.title }}</a>
        <p> {{ post.content }} </p>
      </li>
</div> <!-- /inner row well 1 (left) -->
    {% endfor %}
  </ul>
<div class="row well"> <!-- inner row well 2 (left) -->
  <p class="rss-subscribe">
    subscribe to the class newsfeed
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>  </p>
</div> <!-- /inner row well 2 (left) -->

{% for post in site.posts offset:1 limit:1 %}
{% comment %} i.e. if not empty then do... {% endcomment %}
<div class="row well"> <!-- inner row well 3 (left) -->
  <h3> News Archive </h3>
  <ul class="list-unstyled">
    {% for post in site.posts %}
      <li>
        <span>{{ post.date | date: "%b %-d, %Y" }}</span>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div> <!-- /inner row well 3 (left) -->
{% endfor %}
</div> <!-- /left-->



<div class="col-md-5 col-md-offset-1"> <!-- right -->
<div class="row well"> <!-- inner row well 1 (right) -->
	<dl>
    <dt> Instructor </dt>
      <dd> {{ page.instructor }} </dd>
    <dt> Office Hour </dt>
      <dd> {{ page.office-hour }} </dd>
    <br />
    {% for section in page.sections %}

    <dt> <h4>Section {{ section.number }}</h4> </dt>
      {% for meeting in section.meetings %}
      <dd> {{ meeting.title }} {{ meeting.days }} {{ meeting.time }} 
      <br /> {{ meeting.building }}, room {{ meeting.room }}
      (<a href="{{ meeting.maplink }}">map</a>) </dd>
      <br />
      {% endfor %}

    <br />

    {% endfor %}

    <dt> Homework </dt>
      <dd> <a
      href="https://webwork.math.uga.edu/webwork2/Math2250_Krashen_S17/"
      >Available via WebWork</a>, generally due Wednesdays</dd>
  </dl>
  </dl>
  <!--
  <p>
  <a href="syllabus.pdf">
  <button class="btn btn-success" type="button">Course Syllabus</button>
  </a>
  </p>
  -->
</div> <!-- /inner row well 2 (left) -->
</div>
<div class="row">
<div class="col-md-6">
<br />
<dl>
</div>

</div>
</div>


